footer {
    height: 50vh;
}

#redes-sociais img{
    width: 40px;
    height: auto;
    padding:20px;
    transition: 0.7s;
}

#redes-sociais img:hover {
    width: 50px;
    height: auto;
}

.links {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    transition: 0.7s;
    font-size: 0.9em;
}

.links:hover {
    font-size: 1em;
    color: rgb(58, 56, 56);
}