#sec06 {
    background-color: #1b1b1ba4;
    background-color: #0a0909;
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#sec06 h2{
    text-align: center;
    padding:3rem 0 3rem 0;
    color: white;
}

#sec06 h3 {
    color: #94F87F;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 2rem 0;
}

#sec06 h4 {
    text-align: center;
    color:#a9afa9d2;
    font-size: 1.2em;
    
    
}

#sec06 canvas {
    width: 100%;
}

#sec06 p {
    font-size: 1em;
    padding-bottom: 2rem;
}




.grafico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60vh;
}
.txt {
    width: 100%;
}

.gf {
    margin-bottom: 3rem;
    height: auto;
    width: 100%;
}

#func {
    width: 100%;
    /*
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    */
    display: grid;
    grid-template-columns: repeat(2,50%);
    justify-content: center;
    padding: 2rem 0;
    position: relative;
    min-height: 20vh;
    /*margin: 0  0 2rem 0.5rem;*/
}



.func-numeros {
    margin: 2rem 0;
    width:10rem;
    height: 10rem;
    background-color: rgb(113, 151, 103);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border: 2px solid black;
    transition: 0.5s ease-in-out;
}
#sec06 .func-numeros p {
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    background-color: #94F87F;
    padding: 1.3rem 0;
    border-radius: 1rem 1rem 0 0;
    font-weight: bold;
}

.numeros {
justify-content: center;
margin: auto 0 ;
color: #ffffff;
font-size: 2rem;
transition: 0.5s ease-in-out;
}

.func-numeros:hover {
    border: 2px solid white;
}

.func-numeros:hover .numeros{
    color: white;
    font-weight: bold;
}

#grafico01 {
    flex-direction: column-reverse;
    background-color:  #0a0909;
    position: relative;

}
#grafico02 {
    background-color: #171a15;
    position: relative;
}

.custom-shape-divider-bottom-1722134220 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722134220 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 32px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1722134220 .shape-fill {
    fill: #171a15;
}




.custom-shape-divider-bottom-1722134318 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722134318 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 57px;
}

.custom-shape-divider-bottom-1722134318 .shape-fill {
    fill: #0a0909;
}





.custom-shape-divider-bottom-1722137940 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1722137940 svg {
    position: relative;
    display: block;
    width: calc(140% + 1.3px);
    height: 95px;
}

.custom-shape-divider-bottom-1722137940 .shape-fill {
    fill: #161414;
}



#descricao {
    padding-bottom: 10rem;
}