/* MAIN  - PRINCIPAL*/

.bg-video {
    position: absolute;
    right: 0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background:url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:auto;
    width: 100%;

}




/* RESPONSIVE - RESPONSIVIDADE*/

/* Mobile */
@media screen and  (min-device-width: 300px) and (max-device-width: 834px) {

    .bg-video {
        height:100%;
        width: auto;
    }
}