/* MAIN  - PRINCIPAL*/

.bg-video {
    position: absolute;
    right: 0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
    background:url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:auto;
    width: 100%;

}

.preloader {
	position: fixed;
	top: 0;
	left: 0;
	animation: spinz 1.35s linear infinite;
	width: 100%;
	height: 100%;
	background-color: var(--cor-primaria);       
	z-index: 100;
  }
  
  .loader {
    display: flex;
    flex-direction: row;
    width: calc(50px*3);
    justify-content: space-around;
    height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -60px;
	margin-left: -60px;
  }


  .loader span {
    display: block;
    background-color: var(--cor-principal);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    animation: pulo .6s cubic-bezier(0.6, 0.1, 1, 0.4);
    animation-iteration-count: infinite;
    animation-direction: alternate ;
  }


.loader span:nth-child(1) {
    animation-delay: .1s;
}
.loader span:nth-child(2) {
    animation-delay: .2s;
}
.loader span:nth-child(3) {
    animation-delay: .3s;
}



  
  @keyframes spinz {
	0% {
	  opacity:1;
	}
	50% {
	  opacity:1;
	}
	75% {
	  opacity:1;
	}
	100% {
	  opacity:0;
	}
  }


  @keyframes pulo {
    to {
        transform: translateY(50px);
    }
  }




/* RESPONSIVE - RESPONSIVIDADE*/

/* Mobile */
@media screen and  (min-device-width: 300px) and (max-device-width: 834px) {

    .bg-video {
        height:100%;
        width: auto;
    }

    .loader {
        margin-top: -70px;
        margin-left: -70px;
      }
}