/* Desktop - Computador */

#sec03 {
    width: 100%;
    height: 70vh;
    background-color: #1c1d1de1;
    background-color: #141414e1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.bloco-texto {
    color: white;
    width: 35%;
    font-size: 1.2em;
    text-align: start;
    padding: 2rem;

}

.bloco-texto h2 {
    width: 100%;
    display: block;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
}

#txt-cinza {
    color: gray;
    font-size: 1rem;

}

.video {
    width:  40%;
    height: 70%;
    border-radius: 20px ;
    background-color: #292b2b17;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.video iframe {
    width: 100%;
    height: 100%;
    border-radius: 20px ;
}

.custom-shape-divider-bottom-1722116853 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722116853 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1722116853 .shape-fill {
    fill:  #0a0a0ade;
}




/* Mobile - Dispositivo Móvel */
@media screen and  (min-device-width: 300px) and (max-device-width: 834px) {
    #sec03 {
        height: auto;
        min-height: 70vh;
        flex-direction: column;
    }
    
    .bloco-texto {
        width: 100%;
        font-size: 1em;
        padding: 2rem 0;
    }


    .video{
        width: 70%;
        height: 100%;
        margin-bottom: 5rem
    }

  
    /* Phone - Celular */
    @media  screen and (max-device-width:640px) {
    .video {
        width: 70%;
    }

    .bloco-texto h2 {
        font-size: 2rem;
    }

    .custom-shape-divider-bottom-1722116853 svg {
        width: calc(123% + 1.3px);
        height: 50px;
    }

    }
  }