header {
    /*background-color: var(--cor-primaria);*/
    background: #000000e5;
    width: 100%;
    color: var(--branco);
}

header nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

img {
    width:80px;
    height: auto;
    padding:10px 50px
}



#menu {
    overflow: auto;
    display: block;
    top:0;
    right: 0;
    position: absolute;
    width: 20%;
    height: 0;
    background-color: #1f1e1edc;
    border-radius: 0 0 0 2rem;
    z-index: 2000;
    transition: 1s all;
}

#menu ul {
    margin-top: 0%;
}

#menu li {
    width: 100%;
    background-color: #413e3e;
    background-color: rgba(31, 30, 30, 0.384);
    padding: 1em 0 ;
    text-align: center;
    z-index: 20;
}


#menu a {
    width: 100%;
    color: white;
    text-decoration: none;
    z-index: 20;
}


#menu li:hover {
    background-color: #413e3e7a;
    cursor: pointer;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 44px;
    width: 44px;
}

label span {
    position:absolute;
    display: block;
    height: 6px;
    width: 100%;
    border-radius: 40px;
    background-color: white;
    transition: 0.50s ease-in-out;
    z-index: 20;
}

#checkbox-menu{
    opacity: 0;
    margin: 0 2rem;
}

/*
label span:nth-child(1){
    top: 0;
}
label span:nth-child(2){
    top: 16px;
}
label span:nth-child(3){
    top: 32px;
}




#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 15px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;

}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 15px;
}
    */

/*
#menu-hamburguer img{
    width: auto;
    height: 45px;
    cursor: pointer;
}*/