#sec05 {
    background-color: #1b1b1ba4;
    height: auto;
    width: 100%;
    color: white;
}

#sec05 h2{
    font-size: 3em;
    text-align: center;
    padding: 50px 0 0 0 ;
}

#sec05 h4 {
    text-align: center;
    color:#a9afa9d2;
    font-size: 1.2em;
    padding: 20px;
    
}

#grafico {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#grafico h3 {
    font-size: 2em;
    color: #46c246a4;
    text-align: center;
    padding-top:20px;
}

#grafico span {
    color:#a9afa9d2;
    font-size: 0.8em; ;
}

.txt {
    width:40%;
    font-size: 1.3em;
    padding: 20px;

}


