#sec06 {
    background-color: #1b1b1ba4;
    background-color: #0a0909;
    
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sec06 h2{
    text-align: center;
    padding:3rem 0 0.5rem 0;
    color: white;
}

#sec06 h3 {
    color: #94F87F;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5em;
    text-align: center;
}

#sec06 h4 {
    text-align: center;
    color:#a9afa9d2;
    font-size: 1.2em;
    
    
}

#sec06 canvas {
    width: 250%;
}

#sec06 p {
    font-size: 1.3em;
}




.grafico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60vh;
}
.txt {
    width: 40%;
}

#func {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0;
}

.func-numeros {
    width:15rem;
    height: 5rem;
    background-color: #fff7f7;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}
#sec06 .func-numeros p {

    font-size: 1rem;
    margin: 0 auto;
}

.numeros {
    background-color: #284e22d7;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    border-radius: 1rem  0 0 1rem;

}

.func-numeros:hover .numeros{
    width:60%;
    color: white;
    font-weight: bold;
}

#grafico01 {
    background-color:  #0a0909;
}
#grafico02 {
    background-color: #171a15;
}