#sec04 {
    height: auto;
    width: 100%;
    color: white;
    background-color: #292b2be1;
    background-color: #1f1f1fc5;
    overflow: hidden;
}

#sec04 h2 {
    color: rgb(255, 255, 255);  
    text-align: center;
    padding-top: 3rem;
}

#empresas {

    background-color: white;
    width: 80%;
    height: 50%;   
    margin: 3rem auto 5rem auto;
    border-radius: 20px;
    overflow: hidden;

}

#empresas img {
    width: 100px;
    height: auto;
}

@keyframes scrollInfinito {

    from {
        translate: 0;
    }

    to {
        translate: calc(-50% - 5px);
    }
}

.scroller {
    height: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    width: max-content;
    animation: scrollInfinito 20s linear infinite;
}

.item-scroll {
    white-space: nowrap;
}

